<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuoumall.push.center.mapper.RebateMapper">
  <resultMap id="BaseResultMap" type="com.yuoumall.push.center.entity.bo.FI010.Rebate">
    <!--@mbg.generated generated on Fri Jul 10 16:56:03 CST 2020.-->
    <!--@Table REBATE-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="BUCLS" jdbcType="VARCHAR" property="bucls" />
    <result column="BUTYP" jdbcType="VARCHAR" property="butyp" />
    <result column="REFNO" jdbcType="VARCHAR" property="refno" />
    <result column="BUKRS" jdbcType="VARCHAR" property="bukrs" />
    <result column="GJAHR" jdbcType="VARCHAR" property="gjahr" />
    <result column="BLDAT" jdbcType="VARCHAR" property="bldat" />
    <result column="BUDAT" jdbcType="VARCHAR" property="budat" />
    <result column="WAERS" jdbcType="VARCHAR" property="waers" />
    <result column="BKTXT" jdbcType="VARCHAR" property="bktxt" />
    <result column="BELNR" jdbcType="VARCHAR" property="belnr" />
    <result column="XSTOV" jdbcType="VARCHAR" property="xstov" />
    <result column="STGRD" jdbcType="VARCHAR" property="stgrd" />
    <result column="OPNAM" jdbcType="VARCHAR" property="opnam" />
    <result column="BUITM" jdbcType="VARCHAR" property="buitm" />
    <result column="KUNNR" jdbcType="VARCHAR" property="kunnr" />
    <result column="ZZLIFNR" jdbcType="VARCHAR" property="zzlifnr" />
    <result column="ZZCONNO" jdbcType="VARCHAR" property="zzconno" />
    <result column="PRCTR" jdbcType="VARCHAR" property="prctr" />
    <result column="MATNR" jdbcType="VARCHAR" property="matnr" />
    <result column="MWSKZ" jdbcType="VARCHAR" property="mwskz" />
    <result column="WRBTR" jdbcType="VARCHAR" property="wrbtr" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Fri Jul 10 16:56:03 CST 2020.-->
    id, BUCLS, BUTYP, REFNO, BUKRS, GJAHR, BLDAT, BUDAT, WAERS, BKTXT, BELNR, XSTOV, 
    STGRD, OPNAM, BUITM, KUNNR, ZZLIFNR, ZZCONNO, PRCTR, MATNR, MWSKZ, WRBTR, `status`
  </sql>

  <select id="selectFormatRebateByStatusNo" resultMap="BaseResultMap">
    select * from REBATE where status = 0 limit 10
  </select>

  <update id="updateRebateStatusYes" parameterType="long">
    update REBATE set staus = 1  where id = #{id,jdbcType=BIGINT};
  </update>
</mapper>