<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuoumall.push.center.mapper.SyncSapQueueMapper">
    <resultMap id="BaseResultMap" type="com.yuoumall.push.center.entity.bo.common.SyncSapQueue">
        <!--@mbg.generated generated on Mon Jul 13 15:09:09 CST 2020.-->
        <!--@Table SYNC_SAP_QUEUE-->
        <result column="IFC_TYPE" jdbcType="VARCHAR" property="ifcType"/>
        <result column="TRANS_KEY" jdbcType="VARCHAR" property="transKey"/>
        <result column="CRT_DATE" jdbcType="TIMESTAMP" property="crtDate"/>
        <result column="UPT_DATE" jdbcType="TIMESTAMP" property="uptDate"/>
        <result column="FAIL_COUNT" jdbcType="DECIMAL" property="failCount"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated generated on Mon Jul 13 15:09:09 CST 2020.-->
        IFC_TYPE, TRANS_KEY, CRT_DATE, UPT_DATE, FAIL_COUNT
    </sql>

    <select id="selectFormatDataByMethodAndFailCount" resultMap="BaseResultMap">
        select * from SYNC_SAP_QUEUE
        where IFC_TYPE = #{method,jdbcType=VARCHAR}
        and FAIL_COUNT &lt;= #{retryCount,jdbcType=INTEGER}
    </select>
    <delete id="deleteByTypeAndKey">
        delete from SYNC_SAP_QUEUE where IFC_TYPE = #{ifcType,jdbcType=VARCHAR} and TRANS_KEY = #{transKey,jdbcType=VARCHAR}
    </delete>

    <delete id="addLostNum">
        update SYNC_SAP_QUEUE set FAIL_COUNT = FAIL_COUNT + 1 where IFC_TYPE = #{ifcType,jdbcType=VARCHAR} and TRANS_KEY = #{transKey,jdbcType=VARCHAR}
    </delete>

    <select id="selectDataMapBySql" resultType="java.util.Map">
        #{sql}
    </select>

    <select id="selectDataListBySql" resultType="java.util.List">
        #{sql}
    </select>

</mapper>