<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuoumall.push.center.mapper.VbakMapper">
  <resultMap id="BaseResultMap" type="com.yuoumall.push.center.entity.bo.SD003.Vbak">
    <!--@mbg.generated generated on Tue Jul 07 11:26:44 CST 2020.-->
    <!--@Table VBAK-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="AUART" jdbcType="VARCHAR" property="auart" />
    <result column="VKORG" jdbcType="VARCHAR" property="vkorg" />
    <result column="VTWEG" jdbcType="VARCHAR" property="vtweg" />
    <result column="SPART" jdbcType="VARCHAR" property="spart" />
    <result column="VKBUR" jdbcType="VARCHAR" property="vkbur" />
    <result column="VKGRP" jdbcType="VARCHAR" property="vkgrp" />
    <result column="KUNNR" jdbcType="VARCHAR" property="kunnr" />
    <result column="BSTKD" jdbcType="VARCHAR" property="bstkd" />
    <result column="BSTDK" jdbcType="VARCHAR" property="bstdk" />
    <result column="VDATU" jdbcType="VARCHAR" property="vdatu" />
    <result column="WAERK" jdbcType="VARCHAR" property="waerk" />
    <result column="BEDAT" jdbcType="VARCHAR" property="bedat" />
    <result column="LTEXT" jdbcType="VARCHAR" property="ltext" />
    <result column="POSNR" jdbcType="VARCHAR" property="posnr" />
    <result column="MATNR" jdbcType="VARCHAR" property="matnr" />
    <result column="KWMENG" jdbcType="VARCHAR" property="kwmeng" />
    <result column="VRKME" jdbcType="VARCHAR" property="vrkme" />
    <result column="PRCTR" jdbcType="VARCHAR" property="prctr" />
    <result column="WERKS" jdbcType="VARCHAR" property="werks" />
    <result column="KTGRM" jdbcType="VARCHAR" property="ktgrm" />
    <result column="TAXM1" jdbcType="VARCHAR" property="taxm1" />
    <result column="ZZORDNO" jdbcType="VARCHAR" property="zzordno" />
    <result column="ZZSTORE" jdbcType="VARCHAR" property="zzstore" />
    <result column="ZZSERVI" jdbcType="VARCHAR" property="zzservi" />
    <result column="ZZOR001" jdbcType="VARCHAR" property="zzor001" />
    <result column="ZZOR002" jdbcType="VARCHAR" property="zzor002" />
    <result column="PARTNER" jdbcType="VARCHAR" property="partner" />
    <result column="KSCHL" jdbcType="VARCHAR" property="kschl" />
    <result column="KBETR" jdbcType="VARCHAR" property="kbetr" />
    <result column="AFDAT" jdbcType="VARCHAR" property="afdat" />
    <result column="FPROZ" jdbcType="VARCHAR" property="fproz" />
    <result column="FAKWR" jdbcType="VARCHAR" property="fakwr" />
    <result column="status" jdbcType="TINYINT" property="status"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Tue Jul 07 11:26:44 CST 2020.-->
    id, AUART, VKORG, VTWEG, SPART, VKBUR, VKGRP, KUNNR, BSTKD, BSTDK, VDATU, WAERK, 
    BEDAT, LTEXT, POSNR, MATNR, KWMENG, VRKME, PRCTR, WERKS, KTGRM, TAXM1, ZZORDNO, ZZSTORE, 
    ZZSERVI, ZZOR001, ZZOR002, PARTNER, KSCHL, KBETR, AFDAT, FPROZ, FAKWR, status
  </sql>

  <select id="selectFormatVbakByStatusNo" resultMap="BaseResultMap">
    select * from VBAK where status = 0 limit 10;
  </select>
</mapper>